body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f7fa;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background-color: #9ea8be;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card input {
  width: 85%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
}

.login-btn {
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #0a1f44;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e6e6e6;
}

.google-btn {
  width: 85%;
  padding: 12px;
  margin-top: 15px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
}

.google-btn:hover {
  background-color: white;
  color: #0a1f44;
}
